@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  /* flex-direction: column; */
  /* flex-direction: row-reverse; */
  /* flex-direction: column-reverse; */
  text-align: center;
  background-color: gray;
}

.box {
  width: 25%;
}

/* nav */
.nav {
  width: 100%;
  height: 80px;
  background-color: rgba(40, 40, 40, 0.95);
  display: flex;
  position: relative;
  /* z-index: 1; */
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.9));
}

.navMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.navMenu a {
  margin: 0 18px 0 7px;
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #ffffff;
  transform: scale(1.1);
  transition: 0.4s ease-out;
}

/* nav end */

/* section 1 ABOUT */

.section1 {
  width: 100%;
  height: auto;
  background-color: hsl(0, 0%, 54%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 68px;
  padding-bottom: 18px;
  align-items: center;
  border: 1px black solid;
}

.greeter {
  font-weight: 500;
  font-size: 2.9rem;
  margin-bottom: 15px;
}

.section1_textAbout {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.section1_pic {
  border-radius: 150px;
  height: 250px;
  filter: drop-shadow(0px 2px 1px black);
}

.section1_pic:hover {
  transform: scale(1.1);
  transition: 0.3s ease-out;
}

.section_name_span {
  font-size: 3rem;
  border-radius: 6px;
  filter: drop-shadow(0px 2px 1px black);
}
.section1_text {
  font-size: xx-large;
  color: #ffffff;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.6));
  line-height: 24pt;
  width: 50%;
  margin: 12px 0 12px 0;
}

.section1_socials {
  margin: 15px;
  width: 100%;
}

.section1_socials_l {
  font-size: 1.1rem;
  font-weight: bold;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.9));
}
.section1_socials_l a {
  color: #ffffff;
  text-decoration: none;
}

.section1_linkedin:hover {
  transform: scale(1.2);
  transition: ease-out 0.2s;
  color: #3081d2;
}

.section1_twitter:hover {
  color: #1d9bf0;
  transition: ease-in 0.2s;
}

.section1_instagram:hover {
  color: #e1306c;
  transition: ease-in 0.2s;
}

.section1_github:hover {
  color: #000000;
  transition: ease-in 0.2s;
}

@media only screen and (max-width: 450px) {
  .section1_textAbout {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .section1_pic_div {
    margin: 10px 0 18px 0;
    width: 100%;
  }

  .section1_text {
    width: 100%;
  }
}

/* section 1 ABOUT end */

/* SECTION 2 PROJECTS START */
.section2 {
  padding-top: 15px;
  padding-bottom: 10px;
  width: 100%;
  height: auto;
  background-color: rgba(40, 40, 40, 0.95);
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.9));
}
.sect2_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
.section2_header {
  font-size: 2.5rem;
  color: white;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.9));
  margin: 15px 0 30px 0;
}

.sect2_product {
  width: 35%;
  height: auto;
  flex-basis: 30%;
  margin-bottom: 20px;
  color: black;
  background-color: #eee;
  padding: 4px;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.sect2_product:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 5px #ddd;
}

.sect2_product_info {
  line-height: 20px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sect2_descr {
  font-size: 1rem;
}

.sect2_header_h3 {
  font-size: x-large;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.3));
  margin-bottom: 15px;
}

.sect2_product_img {
  /* max-width: 100%; */
  object-fit: cover;
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
}

.sect2_github_icon {
  margin: 5px 8px 0px 8px;
  width: 45px;
  height: 45px;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.3));
}

.sect2_product p {
  margin: 10px 0;
}

.s_tag {
  display: inline-block;
  background-color: gray;
  color: white;
  padding: 5px;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 20px;
  font-size: 1rem;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
  cursor: default;
}

/* SECTION 2 PROJECTS END */

/* SECTION 3 TECH STACK START */
.section3 {
  padding-top: 25px;
  padding-bottom: 30px;
  width: 100%;
  height: auto;
  background-color: rgb(151, 151, 151);
}

.section3 h1 {
  font-size: 2.5rem;
  color: white;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.9));
}

.section3_container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section3_col1,
.section3_col2,
.section3_col3 {
  padding: 15px;
  margin: 10px;
  height: auto;
  width: 20%;
  background-color: #eee;
  filter: drop-shadow(2px 3px 3px rgba(0, 0, 0, 0.6));
  border-radius: 5px;
}

.s3other {
  height: 474px;
}

.section3_frontend {
  display: flex;
  flex-direction: column;
}

.section3_col1_header {
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.9));
  font-size: x-large;
  width: 100%;
  height: 50px;
  color: Black;
}

.section3_col1_header h3 {
  cursor: default;
}

.section3_col1_frontend_icontainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
}

.section3_col1_fr_ip {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section3_col1_fr_ip p {
  margin-left: 10px;
  margin-right: 22px;
  color: black;
  width: 30%;
  cursor: default;
}

.image {
  align-items: center;
  justify-content: center;
}

.section3_col1_fr_ip img {
  height: 65px;
  width: 65px;
  margin: 8px 0 8px 38px;
  filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.2));
}

@media (min-width: 280px) and (max-width: 320px) {
  .sect2_container {
    flex-direction: column;
    align-items: center;
  }

  .sect2_product {
    width: 90%;
  }

  .section3_container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section3_col1,
  .section3_col2,
  .section3_col3 {
    padding: 15px;
    margin: 10px;
    width: 80%;
  }

  .section3_col1_fr_ip p {
    width: 30%;
  }
}

@media (min-width: 321px) and (max-width: 540px) {
  .sect2_container {
    flex-direction: column;
    align-items: center;
  }

  .sect2_product {
    width: 90%;
  }

  .section3_container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section3_col1,
  .section3_col2,
  .section3_col3 {
    padding: 15px;
    margin: 10px;
    width: 80%;
  }

  .section3_col1_fr_ip p {
    width: 30%;
  }
}

@media (min-width: 541px) and (max-width: 768px) {
  .sect2_container {
    flex-direction: column;
    align-items: center;
  }

  .sect2_product {
    width: 90%;
  }

  .section3_container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section3_col1,
  .section3_col2,
  .section3_col3 {
    padding: 15px;
    margin: 10px;
    width: 35%;
  }

  .section3_col1_fr_ip p {
    width: 30%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .section3_container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section3_col1,
  .section3_col2,
  .section3_col3 {
    padding: 15px;
    margin: 10px;
    width: 33%;
  }

  .section3_col1_fr_ip p {
    width: 30%;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .section3_container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section3_col1,
  .section3_col2,
  .section3_col3 {
    padding: 15px;
    margin: 10px;
    width: 33%;
  }

  .section3_col1_fr_ip p {
    width: 30%;
  }
}

/* SECTION 3 TECH STACK END */

/* SECTION 4 CONTACT START */
.section4 {
  padding-bottom: 10px;
  width: 100%;
  height: auto;
  background-color: rgba(40, 40, 40, 0.95);
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.3));
}

section {
  padding: 40px 15%;
}

.contact {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  grid-gap: 6rem;
}

.contact-form {
  width: 100%;
}

.contact-form h1 {
  font-size: 2.8rem;
  margin-bottom: 20px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6));
}

.contact-form p {
  color: rgb(203, 202, 202);
  letter-spacing: 1px;
  line-height: 26px;
  font-size: 1.1rem;
  margin-bottom: 3.8rem;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
}

.contact-form form {
  position: relative;
  margin: 0 auto;
  width: 90%;
}

.contact-form h5 {
  margin-bottom: 18px;
}

.contact-form form input,
form textarea {
  width: 100%;
  padding: 17px;
  border: none;
  outline: none;
  background: #191919;
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
  border-radius: 10px;
}

.contact-form textarea {
  resize: none;
  height: 200px;
}

.contact-form form .btn {
  display: inline-block;
  background-color: black;
  font-size: 1.1.rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 10px;
  width: 220px;
  transform: scale(1.1);
  transition: 0.2s ease;
  cursor: pointer;
}

.contact-form form .btn:hover {
  border: 2px solid rgb(203, 202, 202);
  background: transparent;
  transform: scale(1.1);
}

.contact-form_info_main_container {
  max-height: 150px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  background: rgba(203, 202, 202, 0.8);
  margin: 1.4rem auto;
  padding: 0.5rem;
  padding-right: 1.25rem;
}

.contant-form_info_container {
  gap: 0.5rem;
  margin: 1rem;
  padding-top: 60px;
}

.contant-form_info_container p {
  font-size: large;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.1));
}
.contant-form_info_container a {
  color: black;
  text-decoration: none;
}

.contact_linkedin_icon {
  width: 45px;
  height: 45px;
}

.contact_email_icon {
  cursor: default;
  width: 45px;
  height: 45px;
}

@media screen and (max-width: 767px) {
  .contact-form_info_main_container {
    flex-direction: column;
    width: auto;
    max-height: none;
    height: 280px;
    margin: 0 auto;
    margin-bottom: 25px;
    padding-top: 65px;
  }

  .contant-form_info_container {
    margin: 0;
    padding-top: 0;
    text-align: center;
  }
}
/* SECTION 4 CONTACT END */

.to_top_button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 40px;
  width: 40px;
  font-size: 40px;
  opacity: 0.33;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: rgb(151, 151, 151);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
}

.footer_p {
  filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.4));
}
